/* Logo */
.logo{
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    color: red !important;
}
/* menu */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-weight: 800;
}
/* search */
.search ::placeholder { 
    color: #7a7d81;;
    font-size: 16px;
    font-style: italic;
}

.search input:focus{
    box-shadow: none;
    border:  1px solid #ced4da;
}

