.clothes{
    margin-top: 50px;
}
.clothes .section-title{
    font-weight: 800;
    font-size: 30px;
}
.clothes .clothesContent .clothesImg .clothesItem{
    margin: 50px 0;
}
.clothes .clothesContent .clothesImg .clothesItem .clothesCover img{
    width: 100%;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active{
    display: flex;
}
@media screen and (max-width: 1100px) and (min-width: 768px){
    
}
@media screen and (max-width: 767px) and (min-width: 569px){

}
@media screen and (max-width: 568px) and (min-width: 351px){

}
@media screen and (max-width: 350px) and (min-width: 200px){

}