.carouselImg{
    padding: 0 !important;
    margin: 0 !important;
}
.carouselImg img{
    width: 100%;
}
.carouselContent{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 20%;
}
.carouselContent h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 0;
    padding: 10px;
}
.carouselContent h2{
    font-weight: 100;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    padding: 10px;
}
.carouselContent .carouselIcon i{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px;
}
.carouselContent .carouselIcon h4{
    font-size: 20px;
    font-family: 600;
    margin-top: 10px;
}
.carouselContent .carouselIcon p{
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
}
@media screen and (min-width: 1501px){
.carouselContent{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 5%;
    left: 20%;
}
}
@media screen and (max-width: 1500px) and (min-width: 1301px){
.carouselContent{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
}
}
@media screen and (max-width: 1300px) and (min-width: 1100px){
.carouselContent{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 15%;
    left: 20%;
}
}
@media screen and (max-width: 1099px) and (min-width: 901px){
.carouselContent{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 7%;
    left: 20%;
}
}
@media screen and (max-width: 900px) and (min-width: 768px){
.carouselContent{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 3%;
    left: 20%;
}
.carouselContent h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 5px;
}
.carouselContent h2{
    font-weight: 100;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    padding: 5px;
}
.carouselContent .carouselIcon i{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px;
}
.carouselContent .carouselIcon h4{
    font-size: 18px;
    font-family: 600;
    margin-top: 10px;
}
.carouselContent .carouselIcon p{
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
}
}
@media screen and (max-width: 767px) and (min-width: 569px){
.carouselContent{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 1%;
    left: 20%;
}
.carouselContent h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    /* padding: 5px; */
}
.carouselContent h2{
    font-weight: 100;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    /* padding: 5px; */
}
.carouselContent .carouselIcon i{
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    /* padding: 5px; */
}
.carouselContent .carouselIcon h4{
    font-size: 14px;
    font-family: 600;
    margin-top: 10px;
}
.carouselContent .carouselIcon p{
    font-weight: 300;
    font-size: 12px;
    margin-top: 10px;
}
}
@media screen and (max-width: 568px) and (min-width: 381px){
.carouselContent{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 7%;
    left: 20%;
}
.carouselContent h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    display: none;
}
.carouselContent h2{
    font-weight: 100;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    display: none;
}
.carouselContent .carouselIcon i{
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    display: none;
}
.carouselContent .carouselIcon h4{
    font-size: 14px;
    font-family: 600;
    margin-top: 10px;
    display: none;
}
.carouselContent .carouselIcon p{
    font-weight: 300;
    font-size: 12px;
    margin-top: 10px;
    display: none;
}
}
@media screen and (max-width: 380px) and (min-width: 200px){
.carouselContent{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 7%;
    left: 20%;
}
.carouselContent h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    display: none;
}
.carouselContent h2{
    font-weight: 100;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    display: none;
}
.carouselContent .carouselIcon i{
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    display: none;
}
.carouselContent .carouselIcon h4{
    font-size: 14px;
    font-family: 600;
    margin-top: 10px;
    display: none;
}
.carouselContent .carouselIcon p{
    font-weight: 300;
    font-size: 12px;
    margin-top: 10px;
    display: none;
}
}