.collection{
    background-color: #1F2640;
    padding-top: 50px;
    padding-bottom: 50px;
}
.collection h3{
    font-size: 36px;
    color: #fff;
    line-height: 68px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.collection .collectionItem video{
        width: 100%;
        height: 100%;
}
.collection .collectionItem .accordion .card {
    border: none;
    background-color: #1F2640;
    color: #fff;
}
.collection .collectionItem .accordion .card .card-header{
    background-color: #1F2640;
    border-bottom: none;
}
.collection .collectionItem .accordion .card  .btn.focus, .btn:focus{
    box-shadow: none;
}
.collection .collectionItem .nav{
    display: block;
}
.collection .collectionItem h2 button{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.collection .collectionItem .card-header{
    padding: 0 ;
}
.collection .collectionItem .card-body{
    margin-left: 30px;
    padding: 0 !important;
}
.collection .collectionItem .card-body btn-link:hover{
    text-decoration: none;
    color: #32c5ff
}